body{
    color: #404248;
    font-family: 'Heebo', sans-serif;
margin: 0;
}
img {
    width: 100%;
}
/* BLOG */
.container2{
    margin: auto;
    max-width: 1200px;
}
.blog-article p{
    font-size: 14px; 
}
.blog-article h2{
    font-size: 20px; 
}
.data-skribent{
    font-size: 12px;
    color: #ccb8b7;
    margin-bottom: 0;

}
.data-titel{
    margin: 0;
}


/* BLOG MOBIL */
@media screen and (max-width: 480px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .blog-article{
        cursor: pointer;
        margin: 0 0vw 4vw 0;
    }

    .info-box-overlay{
        padding: 0vw 1vw 12vw 2vw;
    }
    h1{
        margin-left: 2vw;
    }
    .blog-article:hover{
        box-shadow: none;
        padding: 0vw;
    }
  }

  /* BLOG IPAD */
@media screen and (min-width: 481px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .blog-article:hover{
        box-shadow: none;
        padding: 0vw;
    }

    .blog-article {
        cursor: pointer;
        margin: 0 1vw 4vw 2vw;
    }
    h1 {
        margin-left: 2vw;
    }
  }

  @media screen and (min-width: 1250px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blog-article:hover{
        box-shadow: 2px 4px 3px 4px #888888;
        padding: 1vw;
    }
  }

/* BLOG END */



/* POST */

.post-container{
    display: flex;
    justify-content: center;
    background-color: #ccb8b72f;
}
.post-article{
    margin: 1vw;
    padding: 7vw;
    max-width: 800px;
    background: white;
    margin: 0;
}
.post-article h1{
    font-size: 40px;
}

.data-post-billede{
    max-width: 700px;
}
.center-container{
    text-align: center;
}
.data-post-billede-skribent{
    max-width: 40px;
    border-radius: 50%;
}
.skribenten{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 0.5vw 0 3vw 0;
    color: #888888;
}
.data-post-skribent{
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}
.data-post-dato{
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
}
.has-text-align-center{
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 4vw;
}



/* POST END */
